.add-member{
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 10px;
    background: linear-gradient(  rgb(250, 242, 204) 55%,rgb(240, 208, 143) 100%);
}
.cost-rate{
    text-align: center;
    line-height: 0.8;
    font-size: 24px;
}