.actor-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.user-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.select-user{
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
}